/*Cabeçalho*/
main, section{width: 100%; height: auto;}
section header {width: 90%; height: auto; margin: 0% 5% 0% 5%;}
.section_main{width: 60%; height: auto; margin: 0% 20%;}
section header {width: 90%; height: auto; margin: 0% 5% 0% 5%;}
section header a{padding: 1% 1%;}
section header a:hover{background-color: #fff; color: #333;}
.close:hover{background-color: #801313; color: #fff;}

/*Tabela*/
table{width: 90%; height: auto; margin: 0% 5% 0% 5%;}
thead{background-color: #dedede; color: #111;}
th{padding: 1% 2% !important;}
td{padding: 1% 2%}

/*Formulário do Instalador*/
label{margin: 0% 6%;}
input[type=text]{width: 80%; margin: 1% 6%; padding: 1% 2%; background-color: #fff;}

input[type=date]{width: 40%; margin: 0% 6%; padding: 1% 2%; background-color: #fff;}
input[type=time]{width: 40%; margin: 0% 6%; padding: 1% 2%; background-color: #fff;}
select{width: 80%; margin: 0% 6%; padding: 1% 2%; background-color: #fff;}
textarea{width:80%; height:250px; margin: 0% 6%; padding: 1% 2%; background-color: #fff;}
button{padding: 1% 3%; margin: 1% 6%;}

